@import "fonts";

/* Colors
   ========================================================================== */
@primaryColor: #2c4498;

/* ==========================================================================
   General
   ========================================================================== */

/* Reset
   ========================================================================== */

img {
  max-width: 100%;
}
.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.spinner-layer {
  color: white;
}

/* Header titles
   ========================================================================== */

h1,
h2,
h3 {
  font-family: 'google-sans', sans-serif;
}

h1 {
  margin: 0;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 38px;
  }
}

/* Input
   ========================================================================== */

.input-field input:focus + label {
  color: @primaryColor !important;
}
.input-field input:focus {
  border-bottom: 1px solid @primaryColor !important;
  box-shadow: 0 1px 0 0 @primaryColor !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: @primaryColor;
}

/* Input white
   ========================================================================== */

.input-field.input-white input { color: #fff; }
/* label focus color */
.input-field.input-white input + label {
  color: #fff !important;
}
.input-field.input-white input:focus {
  border-bottom: 1px solid #fff !important;
}

/* label focus color */
.input-field.input-white input:focus + label {
  color: #fff !important;
}
/* label underline focus color */
.input-field.input-white input:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}
/* icon prefix focus color */
.input-field.input-white .prefix.active {
  color: #fff;
}

/* Checkbox
   ========================================================================== */

.checkbox-white.filled-in[type="checkbox"] + span:before {
  border-right: 2px solid @primaryColor !important;
  border-bottom: 2px solid @primaryColor !important;
}
.checkbox-white.filled-in[type="checkbox"]:checked + span:after{
  background-color: #fff !important;
}
.checkbox-white.filled-in[type="checkbox"] + span:after{
  border: 2px solid #fff !important;
}

/* Image box ratio 1:1
   ========================================================================== */

.img-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.img-box:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.img-box > * {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

/* ==========================================================================
   Appearance
   ========================================================================== */

/* Body
   ========================================================================== */

body {
  font-family: 'Roboto', sans-serif;
}

/* Index page
   ========================================================================== */

.index-page {
  background: url(../img/background-header.jpg) no-repeat fixed;
  background-size: cover;
}

/* Navbar
   ========================================================================== */

#navbar {
  height: 80px;
  line-height: 80px;
  margin-bottom: 15px;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;

  .brand-logo {
    font-family: 'google-sans', sans-serif;
  }
  ul {
    margin-top: 20px;

    a {
      line-height: 1.3em;
      padding: 10px 18px;
      border-radius: 20px;
    }
  }
  .sidenav-trigger {
    margin: 10px 0 0 0;
    padding-right: 10px;
  }
}

/* Header
   ========================================================================== */

#header {
  width: 100%;

  .content-header {
    color: #fff;
    font-size: 21px;

    h1 {
      margin: 35px 0 0 0;
      line-height: 1em;
    }
    h3 {
      margin: 25px 0 0 0;
      font-size: inherit;
      line-height: 1.5em;
    }
    #generate-sort {
      font-family: inherit;
      margin-top: 15px;
    }
  }
}

@media only screen and (max-width: 600px) {
  #header {
    .content-header {
      h1 {
        margin-top: 10px;
        font-size: 40px;
      }
      #generate-sort {
        width: 100%;
        margin-bottom: 20px;
        display: block;
      }
    }
  }
}

/* User modal
   ========================================================================== */

#user-data-modal {
  width: 320px;

  h4 { font-size: 28px; }
  .row { margin-bottom: 0; }
  .image-user {
    display: block;
    width: 80px;
    height: 80px;
    margin: 20px auto 8px auto;
  }
  #form-user {
    .btn-col {
      margin-top: 0;
    }
    .btn {
      display: block;
      width: 100%;
      background-color: @primaryColor;
    }
  }
}

/* Media card
   ========================================================================== */

.card-media {
  cursor: pointer;

  .card-content {
    padding: 12px;
    overflow: hidden;

    .material-icons {
      margin-right: 5px;
      vertical-align: middle;
      font-size: 1.5rem;
    }
  }
  .row { margin-bottom: 0; }
}

@media only screen and (max-width: 600px) {
  .card-media {
    .card-content {
      padding: 10px 8px;
      font-size: 12px;

      .material-icons {
        margin-right: 3px;
        font-size: 16px;
      }
    }
  }
}

/* Full page
   ========================================================================== */

.full-page {
  background-color: @primaryColor;

  h1 { margin-bottom: 25px; }
  h4 {
    margin-top: 8px;
    color: #fff;
    font-size: 18px;
  }
  .result {
    #spinner-loading { display: block; text-align: center; }
    .winner {
      padding: 12px;
      font-size: 14px;

      strong { margin-right: 6px; }
    }
  }
  #spinner-loading {
    display: none;
  }
  .spinner-layer { border-color: white; }
  .row {
    margin-left: -.75rem;
    margin-right: -.75rem;
  }
  #form-search-media {
    input { color: #fff; }
    .row { margin-bottom: 0; }
    button {
      display: block;
      width: 100%;
    }
  }
  #search-result-modal {
    width: 260px;
    max-width: 100%;

    .modal-content {
      padding: 0;

      .card {
        margin: 0;
        cursor: inherit;
      }
      .chip { margin: 8px; }
      .card-action {

        a {
          font-size: 13px;
          color: @primaryColor;
        }
      }
    }
  }
  .download-page {
    .percent {
      display: block;
      font-weight: bold;
      font-family: 'google-sans', sans-serif;
      font-size: 52px;
      color: #fff;
      text-align: center;
    }
    label { color: #fff; }
  }
}
#options-form {
  .btn {
    width: 100%;
    display: block;
  }
}