@font-face {
  font-family: 'google-sans';
  src: url('../fonts/googlesans-regular-webfont.woff2') format('woff2'), url('../fonts/googlesans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'google-sans';
  src: url('../fonts/googlesans-bold-webfont.woff2') format('woff2'), url('../fonts/googlesans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
/* Colors
   ========================================================================== */
/* ==========================================================================
   General
   ========================================================================== */
/* Reset
   ========================================================================== */
img {
  max-width: 100%;
}
.row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.spinner-layer {
  color: white;
}
/* Header titles
   ========================================================================== */
h1,
h2,
h3 {
  font-family: 'google-sans', sans-serif;
}
h1 {
  margin: 0;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 38px;
  }
}
/* Input
   ========================================================================== */
.input-field input:focus + label {
  color: #2c4498 !important;
}
.input-field input:focus {
  border-bottom: 1px solid #2c4498 !important;
  box-shadow: 0 1px 0 0 #2c4498 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #2c4498;
}
/* Input white
   ========================================================================== */
.input-field.input-white input {
  color: #fff;
}
/* label focus color */
.input-field.input-white input + label {
  color: #fff !important;
}
.input-field.input-white input:focus {
  border-bottom: 1px solid #fff !important;
}
/* label focus color */
.input-field.input-white input:focus + label {
  color: #fff !important;
}
/* label underline focus color */
.input-field.input-white input:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}
/* icon prefix focus color */
.input-field.input-white .prefix.active {
  color: #fff;
}
/* Checkbox
   ========================================================================== */
.checkbox-white.filled-in[type="checkbox"] + span:before {
  border-right: 2px solid #2c4498 !important;
  border-bottom: 2px solid #2c4498 !important;
}
.checkbox-white.filled-in[type="checkbox"]:checked + span:after {
  background-color: #fff !important;
}
.checkbox-white.filled-in[type="checkbox"] + span:after {
  border: 2px solid #fff !important;
}
/* Image box ratio 1:1
   ========================================================================== */
.img-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.img-box:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.img-box > * {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}
/* ==========================================================================
   Appearance
   ========================================================================== */
/* Body
   ========================================================================== */
body {
  font-family: 'Roboto', sans-serif;
}
/* Index page
   ========================================================================== */
.index-page {
  background: url(../img/background-header.jpg) no-repeat fixed;
  background-size: cover;
}
/* Navbar
   ========================================================================== */
#navbar {
  height: 80px;
  line-height: 80px;
  margin-bottom: 15px;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#navbar .brand-logo {
  font-family: 'google-sans', sans-serif;
}
#navbar ul {
  margin-top: 20px;
}
#navbar ul a {
  line-height: 1.3em;
  padding: 10px 18px;
  border-radius: 20px;
}
#navbar .sidenav-trigger {
  margin: 10px 0 0 0;
  padding-right: 10px;
}
/* Header
   ========================================================================== */
#header {
  width: 100%;
}
#header .content-header {
  color: #fff;
  font-size: 21px;
}
#header .content-header h1 {
  margin: 35px 0 0 0;
  line-height: 1em;
}
#header .content-header h3 {
  margin: 25px 0 0 0;
  font-size: inherit;
  line-height: 1.5em;
}
#header .content-header #generate-sort {
  font-family: inherit;
  margin-top: 15px;
}
@media only screen and (max-width: 600px) {
  #header .content-header h1 {
    margin-top: 10px;
    font-size: 40px;
  }
  #header .content-header #generate-sort {
    width: 100%;
    margin-bottom: 20px;
    display: block;
  }
}
/* User modal
   ========================================================================== */
#user-data-modal {
  width: 320px;
}
#user-data-modal h4 {
  font-size: 28px;
}
#user-data-modal .row {
  margin-bottom: 0;
}
#user-data-modal .image-user {
  display: block;
  width: 80px;
  height: 80px;
  margin: 20px auto 8px auto;
}
#user-data-modal #form-user .btn-col {
  margin-top: 0;
}
#user-data-modal #form-user .btn {
  display: block;
  width: 100%;
  background-color: #2c4498;
}
/* Media card
   ========================================================================== */
.card-media {
  cursor: pointer;
}
.card-media .card-content {
  padding: 12px;
  overflow: hidden;
}
.card-media .card-content .material-icons {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 1.5rem;
}
.card-media .row {
  margin-bottom: 0;
}
@media only screen and (max-width: 600px) {
  .card-media .card-content {
    padding: 10px 8px;
    font-size: 12px;
  }
  .card-media .card-content .material-icons {
    margin-right: 3px;
    font-size: 16px;
  }
}
/* Full page
   ========================================================================== */
.full-page {
  background-color: #2c4498;
}
.full-page h1 {
  margin-bottom: 25px;
}
.full-page h4 {
  margin-top: 8px;
  color: #fff;
  font-size: 18px;
}
.full-page .result #spinner-loading {
  display: block;
  text-align: center;
}
.full-page .result .winner {
  padding: 12px;
  font-size: 14px;
}
.full-page .result .winner strong {
  margin-right: 6px;
}
.full-page #spinner-loading {
  display: none;
}
.full-page .spinner-layer {
  border-color: white;
}
.full-page .row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.full-page #form-search-media input {
  color: #fff;
}
.full-page #form-search-media .row {
  margin-bottom: 0;
}
.full-page #form-search-media button {
  display: block;
  width: 100%;
}
.full-page #search-result-modal {
  width: 260px;
  max-width: 100%;
}
.full-page #search-result-modal .modal-content {
  padding: 0;
}
.full-page #search-result-modal .modal-content .card {
  margin: 0;
  cursor: inherit;
}
.full-page #search-result-modal .modal-content .chip {
  margin: 8px;
}
.full-page #search-result-modal .modal-content .card-action a {
  font-size: 13px;
  color: #2c4498;
}
.full-page .download-page .percent {
  display: block;
  font-weight: bold;
  font-family: 'google-sans', sans-serif;
  font-size: 52px;
  color: #fff;
  text-align: center;
}
.full-page .download-page label {
  color: #fff;
}
#options-form .btn {
  width: 100%;
  display: block;
}
